.quantity {
    width: 60%;
    box-shadow: none;
    border: 2px solid orange;
    border-radius: 3px;
    margin-top: 1rem;
}
button {
    background: transparent;
    outline: none;
    color: #000;
    margin-top: 1rem;
    padding: .8rem 1rem;
    cursor: pointer;
}